.flex-table {
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
  border: 1px solid rgba(black, .1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

	* {
		box-sizing: border-box;

		&::selection {
			background: lighten(black, 70%); 
			color: rgba(white, .85);
		}
	}

	.it-table {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		width: 100%;
		border-collapse: collapse;
		overflow-x: auto;
		overflow-y: hidden;
	}

	.it-tr-group {
		border-bottom: 1px solid rgba(black, .05);
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.it-tr {
		flex: 1 0 auto;
		display: inline-flex;
		transition: all .2s ease-out;
	}

	.it-td, .it-th {
		flex: 1 0 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		// overflow: hidden;
		transition: all .2s ease-out;
		padding: .4em;
		display: flex;
		min-height: 36px;
		align-items: center;
	}

	.it-thead {
		flex: 1 0 auto;
		display: flex;
		flex-direction: column;
		user-select: none;

		&.group {
			background: rgba(black, .03);
			border-bottom: 1px solid rgba(black, .04);
			// z-index: 1;
		}

		&.shadow {
			z-index: 1;
			background: #fff;
			box-shadow: 0 2px 15px 0 rgba(black, .15);

			// .it-th {
			// 	cursor: pointer;
			// }
		}

		.it-tr {
			text-align: center;
		}

		.it-th {
			line-height: 1;
			position: relative;
			border-right: 1px solid rgba(black, .04);
			display: inline-flex;
			// flex-direction: column;
			justify-content: center;
			align-items: center;

			&:last-child {
				border-right: none;
			}
		}
	}

	.it-tbody-group {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		min-height: 200px
	}

	.it-tbody {
		display: flex;
		flex-direction: column;
		overflow: auto;
		width: 100%;

		.it-tr-group {
			.it-tr {
				background: white;

				&:hover {
					background: rgba(black, .05);
				}
			}
		}

		.it-td {
			cursor:	pointer;
		}
	}

	&.stripe {
		.it-tr-group:nth-child(odd) .it-tr {
			background: rgba(black, .03);
		}
	}

	.it-tfoot {
		display: flex;
		flex-direction: column;
		box-shadow: 0 0 15px 0 rgba(black, .15);
		z-index: 10;
		background: #fff;
		border-bottom: 1px solid rgba(black, .1);

		.it-td {
			cursor: default;
		}
	}

	.it-tbody, .it-tfoot {
		.it-td {
			border-right: 1px solid rgba(black, .04);

			&:last-child {
				border-right: none;
			}
		}
	}

	.it-input {
		padding: .4em;
		font-size: inherit;
		border: 1px solid rgba(black, 0.15);
		border-radius: 4px;
		outline: none;
	}

	$input-border-color: #6da8ec;
	.it-input:not([type=checkbox]) {

		transition: all .3s;
		border-color: rgba(black, .2);

		&:hover, &:focus {
			border-color: $input-border-color;
		}

		&:focus {
			box-shadow: 0 0 0 2px rgba($input-border-color, 0.35);
		}
	}

	.it-select {
		position: relative;
		display: inline-block;
		border: 1px solid rgba(black, 0.15);
		background: #fff;
		border-radius: 4px;
		padding: .4em;
		padding-right: 25px;
		min-width: 100px;
		user-select: none;
		cursor: pointer;
		color: rgba(black, 1);
		transition: all .3s;

		.it-dropdown {
			left: 0;
			right: 0;
			position: absolute;
			visibility: hidden;
			opacity: 0;
			border-radius: 4px;
			z-index: 10;
			transition: opacity .3s ease;
			overflow: hidden;
			filter: drop-shadow(0 21px 15px rgba(black, 0.1));
		}

		&:hover {
			border-color: $input-border-color;
		}

		&::before {
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			top: calc(50% - 5px);
			right: 10px;
			border-style: solid;
			border-color: transparent;
			border-top-width: 5px;
			border-bottom-width: 5px;
			border-right-width: 5px;
			border-right-color: rgba(black, .35);
			transition: transform .3s ease;
			transform-origin: 75% 50%;
		}

		&.show {
			border-color: $input-border-color;
			box-shadow: 0 0 0 2px rgba($input-border-color, 0.35);

			&::before {
				transform: rotate(-90deg);
			}
		}

		&.top.show {
			&::before {
				transform: rotate(90deg);
			}
		}
	}

	.it-option {
		margin: 0;
		padding: 0;
		position: relative;
		list-style: none;
		border-top: 1px solid #eee;
		min-width: 100px;
		max-height: 250px;
		transition: transform .3s ease-in-out;
		transform: translateY(-85%);
		overflow-y: auto;

		.it-item {
			min-height: 32px;
			background: #fff;
			// border-bottom: 1px solid #eee;
			padding: .3em .4em;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			transition: all .2s ease-out;
			display: flex;
			align-items: center;
	
			&:hover {
				background: #eee;
			}
	
			&.current {
				font-weight: 700;
			}
		}

		&.static {
			transition: none;
			transform: translateY(0);
			border-top: none;
			min-width: 120px;

			.it-item {
				padding: .3em 1.5em;
			}
		}

		&.top {
			transform: translateY(85%);
		}
		
		&.show {
			transform: translateY(0);
		}
	}

	.it-icon {
		display: inline-block;
	}

	.it-checkbox {
		display: flex;
		align-items: center;
		overflow: hidden;
		cursor: pointer;
		transition: all .2s ease;
		user-select: none;

		.it-checkbox-switch {
      width: 14px;
      height: 14px;
      border-radius: 2px;
      transform: scale(1);
      border: 1px solid rgba(black, .2);
      transition: all 0.2s ease;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
				width: 12px;
				height: 10px;
        fill: none;
        stroke: #fff;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all 0.2s ease;
        transition-delay: 0.1s;
        transform: scale(0.8) translateZ(0);
      }
    }

    .it-checkbox-input {
      display: none;
      opacity: 0;
    }

    .it-checkbox-label {
      padding-left: 8px;
      line-height: 18px;
    }

    $fill-color: #7ec8e2;
    
    &:hover {
      .it-checkbox-switch {
        border-color: $fill-color;
      }
    }

    &.checked {
      .it-checkbox-switch {
        background: $fill-color;
        border-color: $fill-color;
        animation: wave 0.4s ease;

        svg {
          stroke-dashoffset: 0;
        }
      }
    }
	}
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}
