.iTable.theme-red {
	$root-color: #fa2314;
	border-color: rgba($root-color, .5);

	*::selection {
		background: darken($root-color, 10%); 
		color: rgba(white, .85);
	}

	.it-tr-group {
		border-color: rgba($root-color, .4);
	}

	.it-thead {
		color: white;

		&.group {
			background: darken($root-color, 6%);
			border-color: rgba(white, .45);
		}

		&.shadow {
			background: lighten($root-color, 6%);
			box-shadow: 0 2px 15px 0 $root-color;
		}

		&.filter {
			background: rgba($root-color, .4);

			.it-filter-action {
				background: rgba($root-color, .65);

				.it-arrow {
					color: rgba(white, .2);
				}

				&:hover, &.open {
					box-shadow: 0 -2px 15px 0 $root-color;
					background: $root-color;

					.it-arrow {
						color: rgba(white, .65);
					}
				}
			}
		}

		.it-th {
			border-color: rgba(white, .35);
		}
	}

	.it-tbody {
		.it-tr-group {
			&:nth-child(odd) .it-tr {
				background: rgba($root-color, .55);
			}

			&:nth-child(even) .it-tr {
				background: rgba($root-color, .85);
			}

			.it-tr:hover {
				background: rgba($root-color, .7);
			}
		}
	}

	.it-tfoot {
		box-shadow: 0 0 15px 0 $root-color;
		border-bottom: 1px solid rgba(white, .35);
		background: darken($root-color, 6%);
	}

	.it-tbody, .it-tfoot {
		.it-td {
			border-color: rgba(white, .35);
			color: white;
		}
	}

	.it-pagination {
		box-shadow: 0 0 15px 0 rgba($root-color, .5);
		background: lighten($root-color, 8%);
		color: white;

		.it-prev, .it-next {
			.it-button {
				background: darken($root-color, 8%);
				color: white;

				&[disabled] {
					opacity: 0.4;
				}

				&:not([disabled]):hover {
					background: darken($root-color, 4%);
					color: rgba(white, .85);
				}
			}
		}
	}
}